:root {
  --black: #0a0a0a;
  --white: #f9f9f7;
  --egyptian-cotton: #F0EAD6;
  --section-01-bg: #CEA277;
  --g1: #1a1a1a;
  --g2: #444;
  --g3: #888;
  --g4: #bbb;
  --g5: #ddd;
  --g6: #f0f0ee;
  --blue: #0055ff;
  --bluelo: rgba(0, 85, 255, .07);
  --f: "Shantell Sans", cursive;
}